<div ng-controller="filmDetailController">
    <div class="page-content">
        <div class="box page-box hidden">
            <div class="columns is-gapless">
                <div class="column is-one-third">
                    <div class="side-bar">
                        <h1 class="title is-4">{{film.title}}</h1>
                        <film-poster image="{{film.imageUrl}}"></film-poster>
                    </div>
                </div>
                <div class="column">
                    <div class="film-content">
                        <content>
                            <p class="title is-ancestor">
                                Opening Crawl:
                                <article class="">
                                    {{film.opening_crawl}}
                                </article>
                            </p>
                        </content>
                    </div>
                    <div class="columns" ng-controller="dataController">
                        <div class="column is-one-quarter">
                            <div>
                                <aside class="menu">
                                    <ul class="menu-list">
                                        <li>
                                            <p class="menu-label">Film Features:</p>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>
                                                    <a id="Characters" class="menu-item is-active" ng-click="setContent(title.characters, film.characters)">
                                                        <img src="../styles/img/icons/Darth-Vader-icon.png" alt="" class="image is-24x24">
                                                        <p>{{title.characters}}</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="Species" class="menu-item species" ng-click="setContent(title.species, film.species)">
                                                        <img src="../styles/img/icons/Chewbacca-icon.png" alt="" class="image is-24x24">
                                                        <p>{{title.species}}</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="Planets" class="menu-item" ng-click="setContent(title.planets, film.planets)">
                                                        <img src="../styles/img/icons/Death-Star-icon.png" alt="" class="image is-24x24">
                                                        <p>{{title.planets}}</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="Starships" class="menu-item" ng-click="setContent(title.starships, film.starships)">
                                                        <img src="../styles/img/icons/Millennium-Falcon-icon.png" alt="" class="image is-24x24">
                                                        <p>{{title.starships}}</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id="Vehicles" class="menu-item" ng-click="setContent(title.vehicles, film.vehicles)">
                                                        <img src="../styles/img/icons/AT-AT-Walker-512.png" alt="" class="image is-24x24">
                                                        <p>{{title.vehicles}}</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                </aside>
                            </div>
                        </div>
                        <div class="column">
                            <div class="message-box">
                                <article class="message is-link">
                                    <div class="message-header">
                                        <p>{{header.value}}</p>
                                    </div>
                                    <div class="message-body">
                                        {{content}}
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <article class="tile is-child notification is-warning">
                                <p class="title is-5">Director</p>
                                <p class="subtitle has-text-centered">{{film.director}}</p>
                            </article>
                        </div>
                        <div class="column">
                            <article class="tile is-child notification is-warning">
                                <p class="title is-5">Producer</p>
                                <p class="subtitle has-text-centered">{{film.producer}}</p>
                            </article>
                        </div>
                        <div class="column">
                            <article class="tile is-child notification is-warning">
                                <p class="title is-5">Release Date</p>
                                <p class="subtitle has-text-centered">{{film.release_date}}</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>