<div class="card">
    <div class="card-image">
        <a href="{{url}}">
            <img class="character-img" src="{{image}}" alt="Placeholder image">
        </a>
    </div>
    <header class="card-header">
        <div class="card-header-title">
            <p class="title is-6">{{name}}</p>
        </div>
        <a href="{{url}}" class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
            </span>
        </a>
    </header>
</div>