<div>
    <aside class="menu">
        <ul class="menu-list">
            <li>
                <p class="menu-label">Film Features:</p>
            </li>
            <li>
                <ul>
                    <li>
                        <a id="characters" class="menu-item button is-loading" data-tooltip="Click me!" ng-click="setContent(title.characters, characters)">
                            <img src="../styles/img/icons/Darth-Vader-icon.png" alt="" class="image is-24x24">
                            <p>{{title.characters}}</p>
                        </a>
                    </li>
                    <li>
                        <a id="species" class="menu-item button is-loading" ng-click="setContent(title.species, species)">
                            <img src="../styles/img/icons/Chewbacca-icon.png" alt="" class="image is-24x24">
                            <p>{{title.species}}</p>
                        </a>
                    </li>
                    <li>
                        <a id="planets" class="menu-item button is-loading" ng-click="setContent(title.planets, planets)">
                            <img src="../styles/img/icons/Death-Star-icon.png" alt="" class="image is-24x24">
                            <p>{{title.planets}}</p>
                        </a>
                    </li>
                    <li>
                        <a id="starships" class="menu-item button is-loading" ng-click="setContent(title.starships, starships)">
                            <img src="../styles/img/icons/Millennium-Falcon-icon.png" alt="" class="image is-24x24">
                            <p>{{title.starships}}</p>
                        </a>
                    </li>
                    <li>
                        <a id="vehicles" class="menu-item button is-loading" ng-click="setContent(title.vehicles, vehicles)">
                            <img src="../styles/img/icons/AT-AT-Walker-512.png" alt="" class="image is-24x24">
                            <p>{{title.vehicles}}</p>
                        </a>
                    </li>
                </ul>
            </li>
    </aside>
</div>