<div class="message-box hidden">
    <article class="message is-link">
        <div class="message-header">
            <p>{{content.header}}</p>
        </div>
        <div class="message-body columns is-6">
            <div class="row" ng-repeat="info in content.data track by $index" ng-if="$index % 6 == 0">
                <div class="col-xs-3 letter-box" ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3, $index + 4, $index + 5]" ng-if="content.data[i] != null">
                    <div><a class="button is-link is-outlined message-body-text">{{content.data[i]}}</a></div>
                </div>
            </div>
        </div>
    </article>
</div>