<nav class="navbar is-trasnparent">
    <div class="navbar-brand">
        <a class="" href="/">
            <img class="brand" src="./styles/img/star-wars-logo.png" alt="SWAPI Test" width="112" height="50">
        </a>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Films
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" ui-sref="details({ movieid: 4})" onclick="showLoader()">
                            A New Hope
                        </a>
                        <a class="navbar-item" ui-sref="details({ movieid: 5})" onclick="showLoader()">
                            The Empire Strikes Back
                        </a>
                        <a class="navbar-item" ui-sref="details({ movieid: 6})" onclick="showLoader()">
                            The Return of the Jedi
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" ui-sref="details({ movieid: 1})" onclick="showLoader()">
                            The Phantom Menace
                        </a>
                        <a class="navbar-item" ui-sref="details({ movieid: 2})" onclick="showLoader()">
                            Attack of the Clones
                        </a>
                        <a class="navbar-item" ui-sref="details({ movieid: 3})" onclick="showLoader()">
                            Revenge of the Sith
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" ui-sref="details({ movieid: 7})" onclick="showLoader()">
                            The Force Awakens
                        </a>
                    </div>
                </div>
            </div>
            <a class="navbar-item" ui-sref="characters" onclick="showLoader()">
                Characters
            </a>
            <a class="navbar-item" ui-sref="planets" onclick="showLoader()">
                Planets
            </a>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <a class="button is-inverted home-button" href="https://github.com/octaviocarpes">
                <img class="image is-24x24" src="../styles/img/icons/github.png" alt="">Github</a>
        </div>
        <div class="navbar-item">
            <a class="button is-inverted home-button" href="https://www.linkedin.com/in/octavio-pitrez-carpes-bbbab0148/">
                <img class="image is-24x24" src="../styles/img/icons/linkedin.png" alt="">Linkedin</a>
        </div>
        <div class="navbar-item">
            <a class="button is-inverted home-button" href="https://twitter.com/octaviocarpes">
                <img class="image is-24x24" src="../styles/img/icons/twitter.png" alt="">Twitter</a>
        </div>
    </div>
</nav>