.characters-box {
  overflow: scroll;
  margin-top: 15px;
  height: 500px;
}

.character-img {
  width: 200px;
  height: 150px;
}

.card {
  width: 200px;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
