.detail-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-poster{
    width: 400px;
    height: 600px;
}

.collapsible-header{
    width: 100%;
}

.collapsible-body{
    width: 100%;
}

.nav{
    position: relative;
    top: 0;
}

.film-info{
    width: 75%;
}

.page-box{
    position: relative;
    top: 25px;
    left: 5%;
    width: 90%;
}