html {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-image: url('../img/stars-bg.jpg');
  color: white;
  width: 100%;
  height: 100%;
}

.navbar-brand {
  padding: 10px;
}

.user-view {
  background-color: black;
}

.user-view-logo {
  width: 225px;
}

.view {
}

.mdc-card {
  width: 250px;
  height: 250px;
}

.loader,
.pre-loader {
  position: absolute;
  left: 90%;
  bottom: 25px;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.pre-loader p {
  position: relative;
  right: 40px;
  bottom: 15px;
  color: gold;
}

.loader {
  border-color: gold;
  border-right-color: transparent;
  border-top-color: transparent;
}

.hidden {
  display: none;
}

.home-img {
  width: 670px;
}

.home-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-poster-home {
  width: 300px;
  height: 500px;
  border-radius: 10px;
}

.column {
  width: 400px;
}

.home-posters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
