body{
    background-image: url('../img/stars-bg.jpg');
    color: white;
    width: 80%;
}

.nav-logo{
    width: 150px;
    height: 150px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.user-view{
    background-color: black;
}

.user-view-logo{
    width: 225px;
}

.view{
    position: relative;
    left: 310px;
    width: 100%;
}

.mdc-card{
    width: 250px;
    height: 250px;
}

.mdc-card__media {
    background-image: url("../img/sw7poster.jpg");
}