<div class="home-content">
<div class="slider">
    <ul class="slides">
        <li>
            <img src="../styles/img/star-wars-movie-posters.jpg" alt="">
            <div class="caption center-align z-depth-5">
                <h3>This is my SWAPI test!</h3>
            </div>
        </li>
        <li>
            <img src="../styles/img/star-wars-the-last-jedi-review.jpg" alt="">
            <div class="caption left-align">
                <h3>Made with Angular JS</h3>
                <h5 class="light grey-text text-lighten-3 z-depth-5">Javascript Framework</h5>
            </div>
        </li>
        <li>
            <img src="../styles/img/sw7poster.jpg" alt="">
            <div class="caption right-align">
                <h3>And Materialize CSS</h3>
                <h5 class="light grey-text text-lighten-3 z-depth-5">A css lib for styling</h5>
            </div>
        </li>
    </ul>
</div>
</div>